[Unit]
Description=Gunicorn server for SITENAME

[Service]
Restart=on-failure
User=tetsuro
WorkingDirectory=/home/tetsuro/sites/SITENAME/source/
Environment="MAIL_USERNAME=abraham.program@gmail.com" "MAIL_PASSWORD=SEKRIT"
ExecStart=/home/tetsuro/sites/SITENAME/virtualenv/bin/gunicorn --bind unix:/tmp/SITENAME.socket --access-log-file=../access.log --error-logfile=../error.log superlists.wsgi:application

[Install]
WantedBy=multi-user.target
